
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: #495057;
  background-color: #FFF;
  border-bottom: 8px solid #087f5b;
  background-image: url(img/forest.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


.container {
  width: 1028px;
  margin: 0 auto;
  background-color: rgba(227, 247, 222, 0.904);
  padding-bottom: 30px;
  border-radius: 20px;
}


header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #099268;
  color:#FFF;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.block1 {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 10px;
  justify-content: center;
  align-items: flex-start;
}

.header-text, .important-text, .donde-text {
  order: 1;
}

h1 {
  margin-bottom: 20px;
  font-size: 150px;
  font-weight: 600;
  text-transform: lowercase;
  /* letter-spacing: -1; */
  font-family: 'Festive', cursive;
}
.header-text p {
  font-size: 35px;
  margin-bottom: 50px;
}
section {
  display: flex;
  justify-content: center;
  /* align-items: flex-end; */
  gap: 30px;
  padding: 10px;
}

h2 {
  font-size: 40px;
  margin-bottom: 100px;
  padding: 20px;
}

.btn:link, .btn:visited {
  background-color: #087f5b;
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  display: inline-block;
}

.btn:hover, .btn:active {
  background-color: #099268;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2)
}

.btn:active {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn {
  font-size: 25px;
  padding: 16px 32px;
  border-radius: 20px;
}

/* .btn-small {
  font-size: 25px;
  padding: 5px 15px;
} */

.donde-text p , .cuando-text p, .important-text p {
  font-size: 25px;
  margin-bottom: 60px;
  align-self: flex-end;
}

.valen {
  /* width: 500px;
  height: 300px; */
  /* width: 50%; */
  align-self: center;
  border-radius: 20px;
  /* flex-shrink: 0; */
  /* width: 95%; */
}

.valen-cuando {
  width: 50%;
}

.valen-grid {
  width: 95%;
  border-radius: 20px;
  grid-column: 1 / -1;
  justify-self: center;
}

.mapa {
  /* width: 400px;
  height: 500px; */
  border-radius: 20px;
}

article {
  margin: 30px 40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 60px 30px;
}

ul {
  List-style: none;
  grid-column: 1 / -1;
}

li {
  line-height: 1.7;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 24px;
  font-size: 24px;
}

/* .aplv p {
  font-size: 14px;
} */

/* .aplv, .covid {

} */

/* footer {

} */

.contacto {
  justify-self: center;
  grid-column: 1 / -1;
}

footer p {
  /* margin-right: 40px; */
  margin-bottom: 20px;
  text-align: center;
  background-color: rgba(227, 247, 222, 0.904);
  border-radius: 20px;
}

/* .aplv {
  margin-bottom: 20px;
}

.covid {
  margin-bottom: 20px;
} */

#pautas {
  margin: 18px;
}

.pautas-title {
  grid-column: 1 / -1;
  background-color: #087f5b;
  color: #FFF;
  text-align: center;
  border-radius: 20px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

#pautas {
  font-size: 40px;
}

.subtitle {
  margin-bottom: 20px;
}

/* .disclaimer {
  grid-column: 1 / -1;
} */

/* li {
  margin-left: 40px;
} */

.icon {
  stroke: #087f5b;
  width: 45px;
  height: 45px;
}

.icon-contact {
  stroke: #FFF;
  width: 30px;
  height: 30px;
}

.covid-icon {
  width: 35px;
  height: 35px;
  stroke: #bb3e04;
  flex-shrink: 0;
}
/*APLV PAGE STYLES*/

.aplv-title-page {
  font-size: 60px;
  text-transform: none;
  text-align: center;
  background-color: #099268;
  color: #FFF;
  padding: 30px;
}

/* .informacion-aplv {
  margin-top: 60px;
  padding: 30px;
} */

p {
  line-height: 1.7;
  margin: 10px;
}

/* .h3-aplv {
  margin-top: 35px;
  margin-bottom: 20px;
} */


/*SLIDESHOW JS*/
.cycle-slideshow {
	margin-bottom: 30px;
}

.slide {
	width: 100%;
	position: relative;
}

.slide img {
	display: block;
}

/*button slideshow*/

/* Prev and Next Buttons */
.cycle-prev, .cycle-next {
	position: absolute;
	top: 40%;
	background-color: rgba(0, 0, 0, .35);
	color: #FFF;
	padding: 1px 10px;
	display: block;
	cursor: pointer;
	font-size: 500%;
	z-index: 1000;
	opacity: 0;
	transition: opacity .5s;
}


.cycle-next {
	right: 0;
}

.cycle-slideshow:hover .cycle-prev,
.cycle-slideshow:hover .cycle-next {
	opacity: 1;
}

.cycle-pager {
	position: absolute;
	/* top: 20px; */
	z-index: 1003;
	width: 100%;
	text-align: center;
  bottom: 20px;
}

.cycle-pager span {
	text-indent: -9999px;
	display: inline-block;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #495057;
	margin: 0 4px;
	cursor: pointer;
}

.cycle-pager .cycle-pager-active {
	background-color: #087f5b;
}

/*MEDIA QUERIES*/

@media only screen and (max-width: 1170px){
  .container{
    max-width: 784px;
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .block1 {
    flex-wrap: wrap;
  }

  .header-text p {
    text-align: center;
    font-size: 25px;
  }

  .donde-text {
    align-self: center;
    order: -1;
  }

  h1 {
    text-align: center;
    font-size: 130px;
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  section {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  article {
    display: grid;
    grid-template-columns: 1fr;
  }

  .valen-grid {
    /* width: 350px;
    height: 300px; */
    justify-self: center;
  }

  .btn {
    margin-left: 120px;
  }

  .contacto {
    justify-self: center;
    margin-left: 0;
  }

  .valen {
    width: 100%;
  }

  .asistencia {
    align-self: center;
  }

  .mapa {
    width: 60%;
  }

  .body {
    background-attachment: fixed;
  }

}

@media only screen and (max-width: 768px){
  .container{
    max-width: 400px;
  }

  header {
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .block1 {
    flex-wrap: wrap;
  }

  .header-text p {
    text-align: center;
    font-size: 25px;
  }

  .donde-text {
    align-self: center;
    order: -1;
  }

  h1 {
    text-align: center;
    font-size: 130px;
  }

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  section {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }

  article {
    display: grid;
    grid-template-columns: 380px;
    justify-items: start;
    margin-left: 10px;

  }

  .valen-grid {
    /* width: 380px;
    height: 300px; */
    justify-self: center;
  }

  .btn {
    margin-left: 60px;
  }

  .contacto {
    justify-self: center;
    margin-left: 0;
  }

  .body {
    background-attachment: fixed;
  }

  .asistencia {
    align-self: center;
  }

  .mapa {
    width: 100%;
  }

}